*, 
html {
    margin: 0;
    padding: 0;
}


.container-navbar {
    background-color: rgb(13, 224, 243);
    width: 100%;
    height: 12vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 30px;
}

.li-navbar:hover {
    background-color: rgb(12, 84, 229);
    transition: .7s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}


.xy-navbar {
    color:white;
    text-decoration: none;
    font-weight: 800;
}

.container-content {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 81vh;
}


.xy-content {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 30px;
    width: 720px;
    height: 480px;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 9px 6px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 9px 6px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 6px 1px rgba(0,0,0,0.75);;
}


.img-content {
    width: 50%;
    height: 50%;
}

.container-footer {
    height: 10vh;
    background-color: rgb(17, 211, 255);
    display: flex;
    justify-content:center;
    align-items: center;

}

.Jk-footer {
    font-size: 40px;
    color: rgb(10, 96, 223);

}